<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    package="com.thebharatworks">-->

<!--    <uses-feature-->
<!--        android:name="android.hardware.camera"-->
<!--        android:required="false" />-->

<!--    &lt;!&ndash; Permissions &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />-->

<!--    &lt;!&ndash; Location &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->

<!--    &lt;!&ndash; Storage &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

<!--    <application-->
<!--        android:label="The Bharat Works"-->
<!--        android:name="${applicationName}"-->
<!--        android:icon="@mipmap/ic_launcher">-->

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyCWF-Goa_JJkUp1vouzQL3I2hPfS898r0k" />-->

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTop"-->
<!--            android:taskAffinity=""-->
<!--            android:theme="@style/LaunchTheme"-->
<!--            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--            android:hardwareAccelerated="true"-->
<!--            android:windowSoftInputMode="adjustResize">-->

<!--            <meta-data-->
<!--                android:name="io.flutter.embedding.android.NormalTheme"-->
<!--                android:resource="@style/NormalTheme" />-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        &lt;!&ndash; Don't delete this &ndash;&gt;-->
<!--        <meta-data-->
<!--            android:name="flutterEmbedding"-->
<!--            android:value="2" />-->
<!--    </application>-->

<!--    &lt;!&ndash; Queries &ndash;&gt;-->
<!--    <queries>-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.PROCESS_TEXT"/>-->
<!--            <data android:mimeType="text/plain"/>-->
<!--        </intent>-->
<!--    </queries>-->
<!--</manifest>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thebharatworks">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:label="The Bharat Works"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWF-Goa_JJkUp1vouzQL3I2hPfS898r0k" />

        <!-- AD_ID opt-out -->
        <meta-data
            android:name="com.google.android.gms.ads.AD_ID_PERMISSION"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Queries -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
